form {
  padding-top: 1rem;
}

label:first-child {
  display: block;
  margin: .5em 0;
  font-weight: bold;

  @media (min-width: 768px) {
    display: inline-block;
    min-width: 150px;
  }
}

.flex {
  display: flex;
  gap: 1em;
}

.flex > * {
  width: calc(50vw - 0.5em);
}

.status {
  border: solid 1px;
  padding: 1em;
}

input[type="checkbox"] {
  vertical-align: text-bottom;
}
