<form [formGroup]="myForm" (ngSubmit)="submitHandler()">
  <div>
    <button type="button" (click)="populateForm()">Populate Form</button> {{''}}
    <button type="button" (click)="resetForm()">Reset Form</button>
  </div>
  <hr>
  <div>
    <label><Nav></Nav>Name: *</label>
    <input type="text" formControlName="name" required>
  </div>

  <app-address [myGroup]="address"></app-address>
  <hr>
  <button (click)="addPhone()" type="button">Add other phones</button><br>
  <div formArrayName="phones">
    <div *ngFor="let phone of phones.controls; index as i">
        <app-phone [required]="i == 0 ? true : false" [phoneLabels]="phoneLabels" [index]="i" [phoneGroup]="phone"></app-phone>
    </div>
  </div>
  <hr>
  <div>
    <label>Gender:</label>
    <span>
      <input id="male" type="radio" value="male" formControlName="gender"><label for="male">Male</label>  &nbsp;
      <input id="female" type="radio" value="female" formControlName="gender"><label for="female">Female</label>
    </span>
  </div>

  <div formArrayName="interests">
    <label>Interests:</label>
    <span *ngFor="let int of interests.controls; let i = index">
      <input id="_{{i}}" type="checkbox" [formControlName]="i">
      <label for="_{{i}}">{{interestsList[i]}}</label> &nbsp;
    </span>
  </div>

  <div>
    <label>Comments:</label>
    <textarea placeholder="add comments here..." cols="30" rows="5" formControlName="comments"></textarea>
  </div>

  <div>
    <label>Privacy Policy:</label>
    <span>
      <input id="privacy" type="checkbox" formControlName="privacy" />
      <label for="privacy">I agree</label>
    </span>
  </div>

  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>


