label:first-child {
  display: block;
  margin: .5em 0;
  font-weight: bold;

  @media (min-width: 768px) {
    display: inline-block;
    min-width: 150px;
  }
}

input[type="radio"],
input[type="checkbox"] {
  margin-left: 0;
}

input[type="checkbox"] {
  vertical-align: text-bottom;
}


button {
  background-color:yellowgreen;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
}

button[disabled] {
  background: #ccc;
}

button[type="submit"] {
  margin: 1em 0;
}

textarea {
  vertical-align: text-top;
}

fieldset {
  border-radius: 10px;
  border: solid 1px #ccc;
  margin-top: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

fieldset.noborder {
  border-color: white;
  padding-top: 0;
  padding-bottom: 0;
}

input.ng-dirty.ng-invalid {
  border: solid 1px red;
  background:lightpink;
}

input[type="date"],
input[type="text"] {
  min-width: 150px;
}

hr {
  background-color: #ddd;
  border: 0;
  height: 1px;
  margin: 1em 0;
}
