label:first-child {
  display: block;
  margin: .5em 0;
  font-weight: bold;

  @media (min-width: 768px) {
    display: inline-block;
    min-width: 150px;
  }
}

input[type="checkbox"] {
  vertical-align: text-bottom;
}

button {
  background-color:yellowgreen;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
}

button[disabled] {
  background: #ccc;
}

button[type="submit"] {
  margin: 1em 0;
}

textarea {
  vertical-align: text-top;
}

fieldset {
  border-radius: 10px;
  border: solid 1px #ccc;
  margin-top: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

fieldset.noborder {
  border-color: white;
}
