<h3>Angular 17 Reactive Form</h3>
<div class="status">
  <p><code>{{ myForm.value | json }}</code></p>
  <p>Status: {{ myForm.status | json }} &nbsp;
  <button (click)="populateForm()">Populate Form</button> &nbsp;
  <button (click)="resetForm()">Reset Form</button></p>
</div>

<form [formGroup]="myForm" (ngSubmit)="submitHandler()">
  <fieldset>
    <div>
      <label>First name: *</label>
      <input type="text" formControlName="firstName" required>
    </div>
  </fieldset>

  <fieldset formGroupName="address">
    <legend>Address</legend>
    <div>
      <label>Street:</label>
      <input type="text" formControlName="street">
    </div>
    <div>
      <label>State:</label>
      <select formControlName="state">
        <option selected value="null">Select your state</option>
        <option *ngFor="let state of states" [ngValue]="state.abbrev">
          {{ state.name }}
        </option>
      </select>
    </div>
  </fieldset>

  <fieldset>
    <legend>Phones</legend>
    <!-- example of a required phone field -->
    <app-phone [formGroup]="myForm.controls.phone" [required]="true"></app-phone>
    <br>
    <button (click)="addPhone()" type="button">Add Phone</button>
    <!-- example of optional phone fields -->
    <div formArrayName="optionalPhones">
      <div *ngFor="let phone of myForm.controls.optionalPhones.controls; index as i">
          <app-phone [index]="i" [formGroup]="phone"></app-phone>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div>
      <label>Sex:</label>
      <span>
        <input id="male" type="radio" value="male" formControlName="sex"><label for="male">Male</label>  &nbsp;
        <input id="female" type="radio" value="female" formControlName="sex"><label for="female">Female</label>
      </span>
    </div>
    <div formArrayName="interests">
      <label>Interests:</label>
      <span *ngFor="let int of interestsFormArray.controls; let i = index">
        <input id="_{{i}}" type="checkbox" [formControlName]="i">
        <label for="_{{i}}">{{interests[i]}}</label> &nbsp;
      </span>
    </div>
    <div>
      <label>Comments:</label>
      <textarea placeholder="add comments here..." cols="30" rows="5" formControlName="comments"></textarea>
    </div>
    <div>
      <label>Privacy Policy:</label>
      <span>
        <input id="privacy" type="checkbox" formControlName="privacy" />
        <label for="privacy">I agree</label>
      </span>
    </div>
  </fieldset>
  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>


