<!-- phoneGroup has two FormControls inside it one with name "label" and one
with new "number" -->
<ng-container [formGroup]="phoneGroup">
  <label>
    <select formControlName="label">
      <option *ngFor="let label of phoneLabels" [value]="label">{{label}}</option>
    </select> {{''}} <span *ngIf="isRequired">*</span>
  </label>
  <input type="text" [attr.required]="isRequired ? 'required' : null" formControlName="number" placeholder="Add phone number"> {{''}}
  <button *ngIf="!isRequired" (click)="removePhone(index)" type="button">Remove</button>
</ng-container>

